body {
    text-align-last: center;
}

h1 {
    font-size: 25px;
    font-family: Palatino;
}

#msgBox {
    margin-top: 300px;
    position: relative;

    border: none;
    background: transparent;

    font-size: 150%;
    font-family: 'Indie Flower', cursive;
    width: 80%;
}

.container {
    margin: 30px;
}

#logo {
    height: 100px;
}

#submitBtn {
    margin-right: 10px;
}


#navbar {
    position: fixed;
    left: -8px;
    width: 100%;
    top: 0px;
    z-index: 10000;
    background-color: white;
    background-size: 100%;
    padding: 5px;
}
