body {
    text-align-last: center;
}

h1 {
    font-size: 25px;
    font-family: Palatino;
}

#msgBox {
    margin-top: 300px;
    position: relative;

    border: none;
    background: transparent;

    font-size: 150%;
    font-family: 'Indie Flower', cursive;
    width: 80%;
}

.container {
    margin: 30px;
}

#logo {
    margin-top: 10px;
    height: 100px;
}

#navbar {
    position: fixed;
    left: -8px;
    width: 100%;
    top: 0px;
    z-index: 10000;
    background-color: white;
    background-size: 100%;
    padding: 5px;
}

#submitBtn, #walkBtn {
    background-color:black; 
    color: white;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


#submitBtn:hover, #walkBtn:hover {
    font-family: Roboto;
    font: bolder;
    color: rgb(255, 255, 255);
    background-color: rgb(161, 58, 58);
    border: .05rem solid rgb(27, 136, 103);
}

