body {
    text-align-last: center;
}

h1 {
    font-size: 25px;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    background: transparent;

    font-size: 200%;
    width: 80%;
}

.container {
    margin: 30px;
}